

/* index.html */

/* employee.html */
@media screen and (min-width: 600px){
div.thisisbackground {
  background-color: white;
 
}
}
@media screen and (min-width: 600px){
h1.title {
font-family: 'Hind', sans-serif;
   
 font-size: 25px;

color: black;

width: 200px;

margin-left: auto;
margin-top: 2px;
}
}
@media screen and (min-width: 600px){
div.buttons {
    align-content: center;
    margin-left: 60px;
    margin-right: auto;
    margin-top: 50px;
  
}

}
@media screen and (min-width: 600px) {
button.btn-btn {
background-color: #1b3459;
width: 190px;
height: 70px;
font-size: 25px;
border-radius: 90px;
color: white;
font-family: 'Hind', sans-serif;
-webkit-box-shadow: inset -6px 4px 31px 0px rgba(0,0,0,0.67);
-moz-box-shadow: inset -6px 4px 31px 0px rgba(0,0,0,0.67);
box-shadow: inset -6px 4px 31px 0px rgba(0,0,0,0.67);

}
}
@media screen and (min-width: 600px) {
button.btn-btn:hover {
    background-color: #8C9AAB;
    border-radius: 90px; 
    
} }


@media screen and (min-width: 600px) {
button.btn-btn:active {
    background-color: #8C9AAB;
    border-radius: 90px; 
   
} 
}
@media screen and (min-width: 600px){
button.btn.btn-info.dateSubmit {
    background-color: #1b3459;
}
}

@media screen and (min-width: 600px){
h1.header{
    font-family: 'Satisfy', cursive;
    font-size: 110px;
color: white;
width: 500px;
text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}
}
@media screen and (min-width: 600px) {
.row.one {

background-color: #1b3459;
background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
background-size: 20px 20px;
height: 150px;
overflow: visible;
text-shadow: 4px 8px 6px rgba(0,0,0,0.3);
margin-left: -120px;
margin-right: -120px;

}

  .bowling-ball {
    margin-top: 40px;
    animation-name: bowl;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }


  

  @keyframes bowl {
    from { transform: translate(0) rotate(0); }
    to { transform: translate(1000px) rotate(180deg); }
  }
  
  @keyframes bowl2 {
    0% { transform: translateX(0) rotate(0) ; }
    100% { transform: translateX(1000px) rotate(4turn); }
  }
  @keyframes bowl3 {
    0% { transform: translateY(0); }
    20% { transform: translateY(30px); }
    40% { transform: translateY(60px); }
    100% { transform: translateY(0); }
  }
  
  /*   animation-name: bowl;
    animation-duration: 3s;
    animation-iteration-count: 1/infinite; 
    animation-timing-function: ease/ease-in/ease-out/ease-in-out/linear
    animation-delay: s
    animation-fill-mode: none/backwards/forwards/both
    
  */






/* body {
    background-color: blue;
} */

/* html {
    background-color: #909598;
} */
/* 
h1.title {

    font-size: 80px;

} */
@media screen and (min-width: 600px) {
.margintwenty {
    margin-top: 40px;
    margin-left: 280px;
    height: 200px;
   
}
}

/* button {
    font-size: 20px;
    background-color: red;
    color: white;
    border: 4px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px #888888;
    margin-left: 100px;
    margin-top: 100px;

} */
@media screen and (min-width: 600px){
div.container {
align-content: center;

}
}


/* manager.html */

@media screen and (min-width: 600px) {
.button-grid {
    margin-top:10px !important;
}
  }
  @media screen and (min-width: 600px) {
#managerDisplay {
   margin-top:10px !important;
   
  }
  }

  @media screen and (min-width: 600px) {
.employeeTable {
    margin-top: 10px;
}
}
@media screen and (min-width: 600px) {
.addedButton {
    margin-right: 5px;
    margin-top: 10px;
}
}
@media screen and (min-width: 600px) {
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
}
@media screen and (min-width: 600px) {
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
}
@media screen and (min-width: 600px) {
tr:nth-child(even) {
    background-color: #dddddd;

}
}
@media screen and (min-width: 600px) {
button#timeoffRequestButton.btn-btn {

margin-left: 60px;
margin-bottom: 60px;
}
}

@media screen and (min-width: 600px) {
button#rolesButton.btn-btn {
margin-left: 5px;

}
@media screen and (min-width: 600px) {
button#employeeListButton.btn-btn {

margin-bottom: 60px;

}
}
@media screen and (min-width: 600px) {
button#timeClockButton.btn-btn {

margin-top: 60px;

}

}}
@media screen and (min-width: 600px) {
div.jumbotron.jumbotron-fluid.primary.white {
    margin-left:90px;
    margin-right:90px;
    height: 40px;
    padding-bottom: 120px;
    padding-top: 40px;
    background-color: white;
    width: 500px;
   
}
}
@media screen and (min-width: 600px) {
h1.display-4 {
    font-size: 55px;
    font-family: 'Hind', sans-serif;
   
    margin-left: 210px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: black;
    
   
}
}

@media screen and (min-width: 600px) {
form.col-md-5 {
margin-left: 250px;
margin-top: -70px;
}
}

@media screen and (min-width: 600px) {
   input.btn.secondary.white { 
background-color:#1b3459;
color: white;
}
    }

    @media screen and (min-width: 600px) {
        a.btn.btn-link { 
            background-color:#1b3459;
            color: white;
            }
         }
         @media screen and (min-width: 600px) {
            input.btn.secondary.white:hover { 
         background-color:#8C9AAB;;
         color: white;
         }
             }

             @media screen and (min-width: 600px) {
                a.btn.btn-link:hover { 
                    background-color:#8C9AAB;
                    color: white;
                    }
                 }   